[defaults]
interpreter_python = /usr/bin/python3

# Menentukan jalur inventori default agar tidak perlu mengetik -i setiap kali
inventory = ./inventory/development.ini

# Menentukan jalur folder roles agar Ansible tahu di mana mencari role kustom/eksternal
roles_path = ./roles

# Mengatur agar pesan error atau output lebih mudah dibaca (opsional tapi sangat disarankan)
stdout_callback = ansible.builtin.default
result_format = yaml

# Menonaktifkan pembuatan file .retry saat playbook gagal
retry_files_enabled = False

[privilege_escalation]
# Mengaktifkan 'become' (sudo) secara default karena kita akan menginstal paket sistem
become = True
become_method = sudo
become_user = root
become_ask_pass = False